### Script used to generate price dataset

1. Gather ticker symbols of stocks in Nasdaq 100
2. Download price data, use adjusted close prices
3. Filter data starting 2011, drop stocks with missing values

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
df = pd.read_csv("nasdaq_100.csv", encoding='unicode_escape')

tickers = list(df['Ticker'])
tickers

['ATVI',
 'ADBE',
 'ADP',
 'ABNB',
 'ALGN',
 'GOOGL',
 'GOOG',
 'AMZN',
 'AMD',
 'AEP',
 'AMGN',
 'ADI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ASML',
 'AZN',
 'TEAM',
 'ADSK',
 'BKR',
 'BIIB',
 'BKNG',
 'AVGO',
 'CDNS',
 'CHTR',
 'CTAS',
 'CSCO',
 'CTSH',
 'CMCSA',
 'CEG',
 'CPRT',
 'CSGP',
 'COST',
 'CRWD',
 'CSX',
 'DDOG',
 'DXCM',
 'FANG',
 'DLTR',
 'EBAY',
 'EA',
 'ENPH',
 'EXC',
 'FAST',
 'FISV',
 'FTNT',
 'GILD',
 'GFS',
 'HON',
 'IDXX',
 'ILMN',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KDP',
 'KLAC',
 'KHC',
 'LRCX',
 'LCID',
 'LULU',
 'MAR',
 'MRVL',
 'MELI',
 'META',
 'MCHP',
 'MU',
 'MSFT',
 'MRNA',
 'MDLZ',
 'MNST',
 'NFLX',
 'NVDA',
 'NXPI',
 'ORLY',
 'ODFL',
 'PCAR',
 'PANW',
 'PAYX',
 'PYPL',
 'PDD',
 'PEP',
 'QCOM',
 'REGN',
 'RIVN',
 'ROST',
 'SGEN',
 'SIRI',
 'SBUX',
 'SNPS',
 'TMUS',
 'TSLA',
 'TXN',
 'VRSK',
 'VRTX',
 'WBA',
 'WBD',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

In [3]:
ohlc = yf.download(tickers, period="max")

[*********************100%***********************]  101 of 101 completed

2 Failed downloads:
['SGEN', 'ATVI']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

In [4]:
prices = ohlc["Adj Close"].loc["2011-01-01":].dropna(axis=1)
prices.index = pd.to_datetime(prices.index, utc=True).tz_convert(None)
prices.tail()

Ticker,AAPL,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,AMGN,...,SIRI,SNPS,TMUS,TSLA,TXN,VRSK,VRTX,WBA,WBD,XEL
Date,,,,,,,,,,,,,,,,,,,,,
2024-09-16,216.320007,521.500000,223.279999,278.600006,267.730011,104.949997,249.559998,187.580002,152.080002,335.260010,...,23.639999,498.570007,205.850006,226.779999,198.470001,269.399994,489.429993,9.02,8.56,64.559998
2024-09-17,216.789993,515.030029,225.350006,279.410004,266.890015,104.209999,253.160004,188.589996,150.820007,332.799988,...,23.270000,502.250000,202.699997,227.869995,201.389999,267.019989,481.260010,9.06,8.45,64.500000
2024-09-18,220.690002,508.130005,222.639999,275.910004,264.209991,103.220001,253.009995,186.139999,148.289993,332.920013,...,23.270000,495.950012,196.679993,227.199997,200.710007,264.760010,474.160004,9.01,8.42,64.360001
2024-09-19,228.869995,526.440002,233.449997,277.690002,269.760010,101.739998,257.170013,196.710007,156.740005,335.950012,...,24.020000,514.119995,199.639999,243.919998,207.600006,265.959991,477.899994,8.98,8.40,64.059998
2024-09-20,228.199997,522.299988,226.779999,276.410004,267.290009,102.150002,252.850006,192.160004,155.949997,337.380005,...,24.950001,506.649994,199.440002,238.250000,203.300003,264.850006,464.920013,8.71,8.24,64.129997

In [5]:
prices.to_csv('nasdaq_prices.csv')